.navBar {
    width: 100%;
    height: 75px;
    position: fixed;
    display: inline;
    top: 0;
    border-style: solid;
    background-color: wheat;
 }
#navcontent {display: inline;}
#logo {float: left; display: inline;}
#navi1 {float: left; display: inline;}
#navi2 { float: right; display: inline;}

#sailio {width: 1000px; margin:auto;}
#sisalto {width: 650px; float: left; background-color: thistle;
    border: 1px solid #000000; text-align: center; margin-left: 20px;}
.linkkiotsikko { text-align: center;}
ul{background-color: white;margin: 2px; padding: 15%;}
