.customaBody {
    background: #9B89B3;
}

.navbar {
    background-color: #FBEAFF;
 }


#firstContainer {
    margin-top: 40px;
}

.container{
    background-color: #efe4f0;
    
}


.col {width: 100%;}


