.navBar {
    width: 100%;
    height: 250px;
    position: fixed;
    top: 0;
    border-style: solid;
 }
#navi1 { float: left; background-color: wheat; margin: 2px; padding: 0px;}
#navi2 { float: right; background-color: wheat; margin: 2px; padding: 0px;}

#sailio {width: 1000px; margin:auto;}
#sisalto {width: 650px; float: left; background-color: thistle;
    border: 1px solid #000000; text-align: center; margin-left: 20px;}
.linkkiotsikko { text-align: center;}
ul{background-color: white;margin: 2px; padding: 15%;}
